<section class="content">


<div class="form-container">

<form action="/">

    <h1>Registro</h1>

    <div class="inputs">
        <span>Correo Electronico</span>
        <input type="email" class="form-control border-0">
    </div>

    <div class="inputs">
        <span>Contraseña</span>
        <input type="password" class="form-control border-0">
    </div>

    <button class="btn">Registrate</button>

    <strong>Ya tienes cuenta? <a href="#" routerLink="/login">Inicia Sesion Aqui</a></strong>

</form>

</div>


</section>