<section class="content">

<div class="form-container">
    

    <div class="login">

        <form action="/">

            <h1>Inicia Sesion</h1>
        
         <div class="inputs">
             <span>Correo electronico</span>
             <input type="email" class="form-control border-0" required >

         </div>   
         
         <div class="inputs mt-2">
            <span>Contraseña</span>
            <input type="password"  class="form-control border-0" required>

        </div>   

        <button class="btn" (click)="login()">Iniciar Sesion</button>
        
        <strong>No tienes cuenta? <a href="" routerLink="/register">Registrate Aqui</a></strong>

        </form>
    </div>
</div>

</section>